.hero-section {
  background: linear-gradient(#00000099, #00000099),
    url("/assets/img/hero.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
}
.logo {
  width: 14em;
  height: auto;
}
.logo-banner {
  width: 40em;
  height: auto;
}
.subtitulo-banner {
  text-transform: uppercase;
  font-size: larger;
}
/* Estilos Quienes somos */
.parrafo-qs {
  color: white;
}
.contenedor-titulo-na {
  top: 80% !important;
}
.carousel-section {
  height: 80vh !important; /* Ocupa toda la altura de la pantalla*/
  overflow: hidden;
}

.carousel-inner img {
  object-fit: cover;
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.custom-control {
  height: 100%;
  top: 0;
  background: transparent;
  border: none;
  z-index: 5;
}

.carousel-icon-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev .carousel-icon-wrapper {
  left: 10%;
}

.carousel-control-next .carousel-icon-wrapper {
  right: 10%;
}

.pointer-none {
  pointer-events: none;
}
/*NUESTROS SERVICIOS*/
.titulo-ns {
  color: white;
  text-transform: uppercase;
  font-size: 2.9em;
}
/*NUESTROS AUTOS*/
.contenedor-titulo-autos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-na {
  text-transform: uppercase;
  font-size: 2.9em;
}
.subtitulo-na {
  font-size: 1.3em;
}
.titulo-nau {
  font-size: 2.9em;
  text-transform: uppercase;
}
.subtitulo-nau {
  font-size: 1.3em;
}

.autos-container {
  padding: 2rem;
  background: #f7f7f7;
}

.autos-container h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.autos-row {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem 0;
}

.auto-card {
  flex: 0 0 calc(100% / 6); /* 6 autos visibles */
  scroll-snap-align: start;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s;
}

.auto-card:hover {
  transform: scale(1.05);
}

.auto-card img {
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
  height: 120px;
}
.contenedor-principal-fila {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contenedor-fila {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 3%;
  gap: 1.1em;
}
.item {
  height: auto;
  width: 13em;
  display: flex;
}
.contenido-item {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  height: 12em;
  width: 12em;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 0 15px rgba(179, 17, 36, 0.2);
}
.contenido-item:hover {
  border: 1px solid #8d1825;
  background: rgba(141, 24, 37, 0.05);
  transform: translateY(-5px);
}
.custom-overlay {
  position: fixed; /* que quede fijo respecto a la ventana */
  top: 0;
  left: 0;
  width: 100vw; /* ocupar todo el ancho */
  height: 100vh; /* ocupar todo el alto */
  background: rgba(0, 0, 0, 0.6); /* fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* suficientemente alto para estar encima de todo */
}
.overlay-content {
  display: flex;

  background: white;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  width: 90vw;
  height: 80vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cerrar {
  position: absolute;
  color: white;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.carrusel {
  position: relative;
  margin: 1rem 0;
}

.carrusel img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: auto;
}

.carrusel-controles {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.carrusel-controles button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.carousel-section-autos {
  background: linear-gradient(
    180deg,
    rgba(54, 9, 14, 1) 0%,
    rgba(32, 6, 9, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-text {
  font-size: 0.9rem;
}
/*BOTONES FLOTANTES*/
.chat-float-btn:active,
.chat-float-btn:focus,
.chat-float-btn:hover {
  background-color: #8d1926 !important;
}

.whatsapp-float:active,
.whatsapp-float:focus,
.whatsapp-float:hover {
  background-color: #25d366 !important;
}

.btn-subir:active,
.btn-subir:focus,
.btn-subir:hover {
  background-color: #8d1926 !important;
}



.whatsapp-btn {
  background-color: #25d366;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.whatsapp-btn:hover {
  background-color: #1ebe5d;
}
.ctn-carrusel-overlay {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}
.ctn-descripcion-titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.ctn-descripcion-titulo h3 {
  color: white;
}

.caracteristicas-auto {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #8d1825;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(141, 24, 37, 0.1);
  color: white;
  font-size: 0.95rem;
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.caracteristicas-auto p {
  margin: 0.25rem 0;
}
.contenedor-bancos {
  display: flex;
  width: 100%;
}
.contenedor-bancos img {
  height: 4em;
  align-self: flex-end;
  width: 33.33%;
}
.miniaturas-container {
  padding: 0.5rem;
  width: 100%;
  overflow-x: auto;
}

/* Scrollbar styling (webkit) */
.miniaturas-container::-webkit-scrollbar {
  height: 6px; /* Altura del scrollbar */
}

.miniaturas-container::-webkit-scrollbar-track {
  background: transparent;
}

.miniaturas-container::-webkit-scrollbar-thumb {
  background-color: #8d1825;
  border-radius: 3px;
}

.miniaturas-container::-webkit-scrollbar-thumb:hover {
  background-color: #8d1825;
}
.miniatura {
  width: 80px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.3s;
}

.miniatura:hover {
  transform: scale(1.05);
}

.miniatura.selected {
  border-color: #8d1825;
}

/*NUESTROS CLIENTES*/
#entregas .carousel-inner {
  overflow-x: auto;
}

#entregas .carousel-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.h-fixed {
  height: 100%; /* Altura fija */
  width: auto; /* Ancho automático según proporción */
  object-fit: contain; /* Opcional: evita que se recorte */
}
/*ESTILOS NUESTROS VALORES */
.valores-section {
  background-color: #000000;
  color: #fff;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.overlay-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(54, 9, 14, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
  pointer-events: none;
}

.valores-title {
  color: white;
  font-size: 2.9em;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.valor-item {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #b31124;
  border-radius: 16px;
  padding: 1em;
  height: 100%;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 0 15px rgba(179, 17, 36, 0.2);
}

.valor-item:hover {
  background: rgba(179, 17, 36, 0.1);
  transform: translateY(-5px);
}

.valor-item fa-icon {
  font-size: 2rem;
  color: #ffffff;
}

.valor-item h5 {
  color: #ffffff;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.valor-item p {
  font-size: 0.95rem;
  color: #ddd;
}
/*ESTILOS CONTACTO*/
.contenedor-contacto {
  /* gap: 16%; */
  display: flex;
  justify-content: space-between;
}
.item-contacto-i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}
.item-contacto-i img {
  height: 55vh;
  object-fit: contain;
}
.item-contacto-d {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 50%;
}
.titulo-contacto {
  padding: 3em 1em 0em 3em;
}
.subtitulo-contacto {
  padding: 1em 1em 1em 5em;
}
.chat-float-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 55px;
  height: 55px;
  background-color: #8d1926;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.chat-float-btn:hover {
  transform: scale(1.1);
}
.whatsapp-float {
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 999;
  width: 55px;
  height: 55px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.whatsapp-float:hover {
  transform: scale(1.1);
}
.whatsapp-float img {
  width: 30px;
  height: 30px;
  filter: invert(1); /* si usás íconos blancos */
}
.btn-subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #8d1926;
  border: none;
  font-size: 24px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* No clics cuando está oculto */
}

.btn-subir.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto; /* Habilita clics cuando es visible */
}

@media (max-width: 768px) {
  .hero-section {
    height: 55vh;
    margin-top: 3em;
  }
  .logo-banner {
    width: 20em;
  }
  .subtitulo-banner {
    font-size: 0.9em;
  }
  /* ESTILOS QUIENES SOMOS */
  .parrafo-qs {
    font-size: 0.9em;
  }
  /* ESTILOS NUESTRA AGENCIA*/
  .carousel-section {
    height: 30vh;
  }
  .contenedor-titulo-na {
    top: 70% !important;
    width: 60%;
  }
  .titulo-na {
    font-size: 1.3em;
  }
  .subtitulo-na {
    font-size: 1em;
  }

  /*ESTILOS NUESTROS VALORES*/
  .valores-title {
    font-size: 1.4em;
  }
  .value-bubble {
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }
  .car-svg {
    width: 120px;
  }
  /*ESTILOS CONTACTO*/
  .contenedor-contacto {
    gap: 16%;
    display: flex;
    flex-direction: column;
  }
  .item-contacto-i {
    margin-top: 0;
  }
  .item-contacto-i img {
    width: 100%;
    height: auto;
  }
  .item-contacto-d {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1em 0em 1em 0em;
  }
  .titulo-contacto {
    padding: 1em;
  }
  .subtitulo-contacto {
    padding: 1em 4em 0em 0em;
  }
  /* ESTILOS CHAT */
  .chat-float-btn {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }
  .whatsapp-float {
    width: 45px;
    height: 45px;
    bottom: 70px;
    right: 15px;
  }
  .whatsapp-float img {
    width: 25px;
    height: 25px;
  }
  /*ESTILOS NUESTROS SEVICIOS*/
  .titulo-ns {
    font-size: 1.4em;
  }
  /*ESTILOS NUESTROS AUTOS*/
  .titulo-na {
    font-size: 1.4em;
  }
  .subtitulo-na {
    font-size: 1.2em;
  }
  .titulo-nau {
    font-size: 1.4em;
  }
  .subtitulo-nau {
    font-size: 1.2em;
  }
  .carousel-section {
    height: 30vh !important; /* Ocupa toda la altura de la pantalla*/
  }

  /* .contenedor-fila{
    flex-direction: column;
  } */
  .item {
    width: 48%;
    margin-bottom: 1rem;
  }
  /*ESTILOS OVERLAY DE AUTOS*/
  .overlay-content {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .ctn-btn-overlay {
    height: 60%;
    width: 100%;
    left: 0;
    position: absolute;
  }
  .caracteristicas-auto {
    height: auto;
    width: 100%;
  }
  .ctn-carrusel-overlay {
    width: 100%;
    height: 40%;
    margin-top: 14%;
  }
  .card-text {
    font-size: 1.2rem;
  }
  .miniaturas-container {
    padding: 0;
    height: 20%;
    overflow-y: hidden;
  }
  .ctn-descripcion-titulo {
    width: 100%;
  }
  .ctn-descripcion-titulo h3 {
    position: absolute;
    top: 5%;
  }
  .contenedor-bancos img {
    height: 2em;
  }
  .miniatura {
    max-width: 80px;
  }
}
