.hero-section {
  background: linear-gradient(#00000099, #00000099),
    url("/assets/img/hero.jpg") center/cover no-repeat;
  height: 100vh;
  color: white;
}
.logo {
  width: 14em;
  height: auto;
}
.logo-banner {
  width: 40em;
  height: auto;
}
.subtitulo-banner {
  text-transform: uppercase;
  font-size: larger;
}
/* Estilos Quienes somos */
.parrafo-qs {
  color: white;
}
.contenedor-titulo-na {
  top: 80% !important;
}
.carousel-section {
  height: 80vh; /* Ocupa toda la altura de la pantalla */
  overflow: hidden;
}

.carousel-inner img {
  object-fit: cover;
}

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.custom-control {
  height: 100%;
  top: 0;
  background: transparent;
  border: none;
  z-index: 5;
}

.carousel-icon-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev .carousel-icon-wrapper {
  left: 10%;
}

.carousel-control-next .carousel-icon-wrapper {
  right: 10%;
}

.pointer-none {
  pointer-events: none;
}
#entregas .carousel-inner {
  overflow-x: auto;
}

#entregas .carousel-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
}

.h-fixed {
  height: 100%; /* Altura fija */
  width: auto; /* Ancho automático según proporción */
  object-fit: contain; /* Opcional: evita que se recorte */
}
/*ESTILOS NUESTROS VALORES */
.valores-section {
  background-color: #000000;
  color: #fff;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.overlay-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(54, 9, 14, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 0;
  pointer-events: none;
}

.valores-title {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.valor-item {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #b31124;
  border-radius: 16px;
  padding: 1em;
  height: 100%;
  transition: transform 0.3s, background-color 0.3s;
  box-shadow: 0 0 15px rgba(179, 17, 36, 0.2);
}

.valor-item:hover {
  background: rgba(179, 17, 36, 0.1);
  transform: translateY(-5px);
}

.valor-item fa-icon {
  font-size: 2rem;
  color: #ffffff;
}

.valor-item h5 {
  color: #ffffff;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.valor-item p {
  font-size: 0.95rem;
  color: #ddd;
}
/*ESTILOS CONTACTO*/
.contenedor-contacto {
  gap: 16%;
}
.item-contacto-i {
  background: url(/assets/img/graficos/5.png) center/cover no-repeat;
  height: 54vh;
}
.item-contacto-d {
  display: flex;
  flex-direction: column;
  width: 16vw;
}
.titulo-contacto {
  padding: 3em 1em 0em 3em;
}
.subtitulo-contacto {
  padding: 1em 1em 1em 5em;
}
.chat-float-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 55px;
  height: 55px;
  background-color: #8d1926;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.chat-float-btn:hover {
  transform: scale(1.1);
}
.whatsapp-float {
  position: fixed;
  bottom: 80px;
  left: 20px;
  z-index: 999;
  width: 55px;
  height: 55px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
.whatsapp-float:hover {
  transform: scale(1.1);
}
.whatsapp-float img {
  width: 30px;
  height: 30px;
  filter: invert(1); /* si usás íconos blancos */
}
.btn-subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #8d1926;
  border: none;
  font-size: 24px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* No clics cuando está oculto */
}

.btn-subir.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto; /* Habilita clics cuando es visible */
}

@media (max-width: 768px) {
  .hero-section {
    height: 55vh;
    margin-top: 3em;
  }
  .logo-banner {
    width: 20em;
  }
  .subtitulo-banner {
    font-size: 0.9em;
  }
  /* ESTILOS QUIENES SOMOS */
  .parrafo-qs {
    font-size: 0.9em;
  }
  /* ESTILOS NUESTRA AGENCIA*/
  .carousel-section {
    height: 30vh;
  }
  .contenedor-titulo-na {
    top: 70% !important;
    width: 60%;
  }
  .titulo-na {
    font-size: 1.3em;
  }
  .subtitulo-na {
    font-size: 1em;
  }
  /*ESTILOS NUESTROS VALORES*/

  .value-bubble {
    width: 100px;
    height: 100px;
    font-size: 0.9rem;
  }
  .car-svg {
    width: 120px;
  }
  /*ESTILOS CONTACTO*/
  .contenedor-contacto {
    gap: 16%;
    display: flex;
    flex-direction: column;
  }
  .item-contacto-i {
    background: url(/assets/img/graficos/4.png) center / cover no-repeat;
  }
  .item-contacto-d {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1em 0em 1em 0em;
  }
  .titulo-contacto {
    padding: 1em;
  }
  .subtitulo-contacto {
    padding: 1em 4em 0em 0em;
  }
  /* ESTILOS CHAT */
  .chat-float-btn {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }
  .whatsapp-float {
    width: 45px;
    height: 45px;
    bottom: 70px;
    right: 15px;
  }
  .whatsapp-float img {
    width: 25px;
    height: 25px;
  }
}
