/* Títulos */
h1, h2, h3, h4, .titulo {
  font-family: 'League Spartan';
  font-weight: 800;
}

/* Subtítulos o textos destacados */
.subtitulo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden !important;
}


